In [2]:
import pandas as pd
df = pd.read_csv('weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
df_ex = pd.read_excel("weather_data.xlsx")
df_ex

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [6]:
df.to_csv("new.csv", index=False)
df_new = pd.read_csv("new.csv")
df_new

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [7]:
df_ex.to_excel("new.xlsx", sheet_name="weather_data", index=False)
df_new_ex = pd.read_excel("new.xlsx")
df_new_ex

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [8]:
df = pd.read_csv("weather_data_cities.csv")
df

         day      city  temperature  windspeed   event
0   1/1/2017  new york           32          6    Rain
1   1/2/2017  new york           36          7   Sunny
2   1/3/2017  new york           28         12    Snow
3   1/4/2017  new york           33          7   Sunny
4   1/1/2017    mumbai           90          5   Sunny
5   1/2/2017    mumbai           85         12     Fog
6   1/3/2017    mumbai           87         15     Fog
7   1/4/2017    mumbai           92          5    Rain
8   1/1/2017     paris           45         20   Sunny
9   1/2/2017     paris           50         13  Cloudy
10  1/3/2017     paris           54          8  Cloudy
11  1/4/2017     paris           42         10  Cloudy

In [9]:
g = df.groupby('city')
g

In [10]:
for city, city_df in g:
    print(city)
    print(city_df)

mumbai
        day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
7  1/4/2017  mumbai           92          5   Rain
new york
        day      city  temperature  windspeed  event
0  1/1/2017  new york           32          6   Rain
1  1/2/2017  new york           36          7  Sunny
2  1/3/2017  new york           28         12   Snow
3  1/4/2017  new york           33          7  Sunny
paris
         day   city  temperature  windspeed   event
8   1/1/2017  paris           45         20   Sunny
9   1/2/2017  paris           50         13  Cloudy
10  1/3/2017  paris           54          8  Cloudy
11  1/4/2017  paris           42         10  Cloudy

In [13]:
g.max()

               day  temperature  windspeed  event
city
mumbai    1/4/2017           92         15  Sunny
new york  1/4/2017           36         12  Sunny
paris     1/4/2017           54         20  Sunny

In [14]:
g.mean()

          temperature  windspeed
city
mumbai          88.50       9.25
new york        32.25       8.00
paris           47.75      12.75

In [15]:
g.median()

          temperature  windspeed
city
mumbai           88.5        8.5
new york         32.5        7.0
paris            47.5       11.5

In [17]:
print(g.describe())

         temperature                                                   \
               count   mean       std   min    25%   50%    75%   max
city
mumbai           4.0  88.50  3.109126  85.0  86.50  88.5  90.50  92.0
new york         4.0  32.25  3.304038  28.0  31.00  32.5  33.75  36.0
paris            4.0  47.75  5.315073  42.0  44.25  47.5  51.00  54.0

         windspeed
             count   mean       std  min   25%   50%    75%   max
city
mumbai         4.0   9.25  5.057997  5.0  5.00   8.5  12.75  15.0
new york       4.0   8.00  2.708013  6.0  6.75   7.0   8.25  12.0
paris          4.0  12.75  5.251984  8.0  9.50  11.5  14.75  20.0

In [18]:
india_weather = pd.DataFrame({
    "city": ["mumbai", "bangalore", "chennai"],
    "temperature": [32, 45, 30],
    "humidity" : [80, 60, 78]
})

india_weather

        city  temperature  humidity
0     mumbai           32        80
1  bangalore           45        60
2    chennai           30        78

In [19]:
canada_weather = pd.DataFrame({
    "city": ["mississauga", "toronto", "brampton"],
    "temperature": [21, 14, 35],
    "humidity" : [68, 65, 75]
})
canada_weather

          city  temperature  humidity
0  mississauga           21        68
1      toronto           14        65
2     brampton           35        75

In [20]:
ind_can_weather = pd.concat([india_weather, canada_weather])
ind_can_weather

          city  temperature  humidity
0       mumbai           32        80
1    bangalore           45        60
2      chennai           30        78
0  mississauga           21        68
1      toronto           14        65
2     brampton           35        75

In [21]:
ind_can_weather = pd.concat([india_weather, canada_weather], ignore_index=True)
ind_can_weather

          city  temperature  humidity
0       mumbai           32        80
1    bangalore           45        60
2      chennai           30        78
3  mississauga           21        68
4      toronto           14        65
5     brampton           35        75

In [22]:
ind_can_weather = pd.concat([india_weather, canada_weather], axis = 1)
ind_can_weather

        city  temperature  humidity         city  temperature  humidity
0     mumbai           32        80  mississauga           21        68
1  bangalore           45        60      toronto           14        65
2    chennai           30        78     brampton           35        75

In [27]:
india_temp = pd.DataFrame({
    "city": ["mumbai", "bangalore", "chennai", "kumbakonam"],
    "temperature": [32, 45, 30, 32]
})

india_humid = pd.DataFrame({
    "city": ["mumbai", "bangalore", "chennai"],
    "humidity": [68, 65, 75]
})

print(india_temp)
print(india_humid)

         city  temperature
0      mumbai           32
1   bangalore           45
2     chennai           30
3  kumbakonam           32
        city  humidity
0     mumbai        68
1  bangalore        65
2    chennai        75

In [29]:
ind_temp_hum = pd.merge(india_temp, india_humid, on = 'city')
print(ind_temp_hum)

        city  temperature  humidity
0     mumbai           32        68
1  bangalore           45        65
2    chennai           30        75

In [30]:
ind_temp_hum = pd.merge(india_temp, india_humid, on = 'city', how = 'outer')
print(ind_temp_hum)

         city  temperature  humidity
0      mumbai           32      68.0
1   bangalore           45      65.0
2     chennai           30      75.0
3  kumbakonam           32       NaN

In [32]:
df_name = pd.DataFrame(["paddy", "gopi", "uma", "viji"], columns = ["Name"])
df_name

    Name
0  paddy
1   gopi
2    uma
3   viji

In [38]:
import uuid
df_custom_index = pd.DataFrame(["paddy", "gopi", "uma", "viji"], columns = ["Name"], index= [12, 55, 15, 14])
print(uuid.uuid1())
print(uuid.uuid4())
df_custom_index

77519332-883b-11ec-9a88-9078419c5384
5a228190-351d-4a40-8db4-960d4a74b79a

     Name
12  paddy
55   gopi
15    uma
14   viji

In [40]:
df_custom_index.loc[55]

Name    gopi
Name: 55, dtype: object

In [43]:
df_custom_index.iloc[1]

Name    gopi
Name: 55, dtype: object

In [44]:
df_custom_index.loc[:15]

     Name
12  paddy
55   gopi
15    uma

In [45]:
df_custom_index.iloc[:2]

     Name
12  paddy
55   gopi